body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
 
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        justify-content: center;
      }
 
      .container:hover {
        transform: scale(1.02);
      }
 
      h1 {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
      }
 
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
 
      button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 10px;
      }
 
      button:hover {
        background-color: #0056b3;
      }
 
      #fileInput {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
 
      .file-input-container {
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        margin-bottom: 20px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f9f9f9;
      }
 
      .file {
        cursor: pointer;
        border-radius: 4px;
        background-color: #cbe4ff;
        width: fit-content;
        padding: 7px 15px;
        margin-top: 15px;
        margin-left: 10px;
      }
 
      .file:hover {
        background-color: #89c2ff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
 
      .file:active {
        transform: scale(0.96);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
 
      .file-input-container .text {
        background-color: #f5f5f5;
        padding: 7px 15px;
        border-radius: 4px;
        width: fit-content;
        margin-left: 10px;
      }
 
      .button-container {
        display: flex;
        justify-content: center;
      }